/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after{box-sizing:border-box;}

.wrap {
    margin: 0 auto;
    width: 1002px;
}

/* Section1 */

.top {
    background: #f6f6f6;
}

.top > .topbar {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.top > ul > li > .fb-fans {
    color: #a3b0ce;
    padding-left: 2px;
}

.top > ul > li > .twitter-follow {
    color: #42beef;
    padding-left: 2px;
}

.top > ul > li > a {
    text-decoration: none;
    color: blue;
}

.top > ul > li > a:hover {
    color: red;
}

/* Section 2 */

.header {
    display: flex;
    justify-content: space-between;
}

.logo > h1 > a {
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png
    );
    width: 224px;
    height: 50px;
    background-repeat: no-repeat;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;  
}

.header > .menu {
    display: flex;
    padding: 5px;
}

.menu a:hover,
.menu li a.active {
  color: #d9c9c5;
  background-color: #f2f2f0;
  border-style: transparent; 
  border-bottom: 5px solid #66e0c2;
}

.menu ul {
    display: none;
}

.menu a {
    color: #66e0c2;
    display: block;
    text-decoration: none;
    padding: 20px;
    transition: all 1s;
}

.menu .dropopen {
  background: #fff;
  position: absolute;
}

.menu li {
  width: 150px; 
  text-align:center
}

/* Section 3 */

.banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.banner h2 {
    font-size: 35px;
    color: #fff;
    background-color: rgba(0,0,0,0.15);
    padding-top: 150px;
    padding-left: 20px;
}

/* Section 4 */

.swiper-wrapper .swiper-slide img {
    padding-top: 20px;
    padding-left: 200px;
    width: 618px;
    height: 246px;
    align-items: center;
}

/* Section 5 */

.topic {
    display: flex;
    justify-content: space-between;
  }

.topic img {
  height: 100px;
}

.topic > li {
    padding: 2rem;
    width: 300px;
    margin: 10px;
    border: 2px solid #f1f1f1;
    box-shadow: 0 1px 5px gray;
    text-align: center;
}

.topic .content-item {
    text-align: center;
    line-height: 20px;
    list-style-type: square;
  }

.topic h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.topic p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 3px;
}

/* Section 5 */ 
.table {
    padding: 20px 0px 20px 0px;
    align-items: center;
  }
  
  .table h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
  }
  
  table 
  td, 
  tr, 
  th {
    font-size: 18px;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5px;
  }
  
  table .title {
    background: #f7f7f7;
    font-weight: 600;
    padding: 20px;
  }
  
  table {
    width: 100%;
    margin: 10px;
  }
  
  .price,
  .effort,
  .code,
  .update,
  .review,
  .cc,
  .o {
    padding: 10px;
    text-align: left;
  }
  
  .pricelow {
    color: #66cab1;
    font-weight: bold;
  }

/* Section 6 */
.content-form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#00664b,#009972);
    width: 100%;
    height: 80%;
  }
  
  .content-form h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 20px 0px 20px 0px;
  }
  
  .content-form form {
    display: flex;
    justify-content: space-between;
  }
  
  .form textarea {
    margin: 30px 0px 20px 20px;
    width: 80%;
    height: 50%;
  }
  
  .box input, label {
    margin: 2px 10px 2px 10px;
    color: #fff;
    width: 400px;
    height: 20px;
    display: flex;
  }
  
  .box .switch {
    margin-top: 20px;
    width: 40px;
    color: #fff;
    background-color: #00cc98;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  
  .box .switch:hover {
    color: red;
  }
  
  /* Section 7 */
  .footer {
    background-color: #fff;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    }
  
    .footer ul li a {
      color: #ed81b3; 
      text-decoration: none;
    }

    /* top */ 

    .backtop {
        color: #00cc98;
        padding-right: 10px;
        padding-bottom: 10px;
        position: fixed;
        right: 0;
        bottom: 0;
    }

    .backtop a:hover {
        color: pink;
    }